includes:
  - ./vendor/nunomaduro/larastan/extension.neon
parameters:
  level: max
  paths:
    - app
  ignoreErrors:

  inferPrivatePropertyTypeFromConstructor: true
  checkMissingIterableValueType: false
